@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

@media print {
  @page {
    margin: 10mm;
    size: auto;
  }
  
  .no-print {
    display: none !important;
  }
  
  body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  main {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  svg {
    shape-rendering: geometricPrecision;
  }

  .break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}