@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

@media print {
  @page {
    margin: 5mm;
    size: A4 portrait;
  }
  
  html, body {
    height: 100%;
    overflow: visible;
  }

  .no-print {
    display: none !important;
  }
  
  body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
  }

  /* Force charts to render correctly */
  svg {
    shape-rendering: geometricPrecision;
  }

  .break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}